html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    background-color: #4400ff;
    width: 100%;
    color: white;
    padding: 1em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-btn {
    cursor: pointer;
    z-index: 200;

}

.menu-titulo {
    font-weight: bold;
    max-width: 3em;
    max-height: 3em;
    border-style: solid;
    margin-right: 2em;
}

main {
    flex: 1;
    width: 100%;
    background-image: url('/static/imagens/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.menu-opcoes {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw; /* 20% da largura da tela */
    height: 100%;
    background-color: #4400ff;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    border-radius: 0;
    padding-top: 4em;
    box-sizing: border-box;
}

.menu-opcoes a {
    display: block;
    color: white;
    padding: 1em;
    text-decoration: none;
}

.menu-opcoes a:hover {
    background-color: #3300cc;
}