<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css">
    <script src="/static/menu.js" defer></script>
</head>
<body>
    <header>
        <h1>Seja bem-vindo!</h1>
        <button class="menu-btn" style="background: none; border: none; padding: 0;">
            <img class="menu-titulo" src="/static/menu-img.png" alt="Menu">
        </button>
    </header>

    <main>
        <article>
            <p>Lorem ipsum dolor sit amet...</p>
            <p>Lorem ipsum dolor sit amet...</p>
            <p>Lorem ipsum dolor sit amet...</p>
        </article>
    </main>

    <div class="menu-opcoes">
        <a href="#">Opção 1</a>
        <a href="#">Opção 2</a>
        <a href="#">Opção 3</a>
    </div>
</body>
</html>
