<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mycss.css') }}">
        <meta charset="UTF-8">
        <title>Cadastro</title>
    </head>
    <body>
        <section class="formulario">
            <h2>Login</h2>
            <form method="post">
                <label for="login-user">Usuário:</label>
                <input id="login-user" name="login_user" type="text" required />

                <label for="login-password">Senha:</label>
                <input id="login-password" name="password" type="password" required />

                <button type="submit">Logar</button>
            </form>
        </section>
    </body>
</html>